<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
    <Appenders>
	    	<Console name="LOG" target="SYSTEM_OUT">
	    		<PatternLayout pattern="%-6level %msg%n"/>
	    	</Console>
	</Appenders>
	<Loggers>
    		<Root level="ALL">
    			<AppenderRef ref="LOG"/>
    		</Root>
    </Loggers>
</Configuration>
