main {
	flex-grow: 1;
	margin-top: 3rem;
	padding-bottom: 3rem;

	.content {
		position: relative;

		.wrapper {
			display: flex;
			flex-direction: row;

			section.main {
				flex-grow: 1;
				margin-left: 3rem;
				padding-top: 3rem;

				h1:first-child {
					margin-top: 0;
				}

			}
		}
	}

	.work-in-progress {
		display: block;
		height: 4rem;
		margin: 1rem 0;
	}

	.learnmore {
		color: $c-learnmore-link-fg-color;

		&:hover {
			opacity: 0.7;
		}
	}

	.frontpage-section {
		padding: 4rem 0;

		&.gray-background {
			background-color: #f3f3f3;
		}

		.gridbox3 {
			padding: 0 1rem;
		}
	}

	.features {
		.gridbox2 {
			padding: 2rem 6rem;

			> img {
				display: block;
				width: 20rem;
				height: 15rem;
				margin: 1rem auto 0;
			}
		}

		h3 {
			font-size: 1.4rem;
			font-weight: 800;
		}

		.grid {
			display: block;
			width: 24rem;
			height: 18rem;
			margin: 1rem auto 0;
			font-size: 1rem;
			* {
				font-size: 1rem;
			}
		}
	}

	.other {
		.gridboxes {
			padding-top: 1rem;
		}

		.gridbox3 > img {
			display: block;
			width: 20rem;
			height: 15rem;
			margin: 1rem auto 0;
		}

		h2 {
			font-size: 1.875rem;
			color: $c-header-uses-fg-color;
			text-align: center;
		}

		h3 {
			font-size: 1.875rem;
			font-weight: 800;
			text-align: center;
		}

		p {
			font-size: 1.05rem;
			text-align: center;
		}

		code {
			font-size: 1.05rem;
			background-color: #c2d938;
			border-radius: 0.4rem;
			margin-left: 1rem;
		}

		code:first-child {
			margin-left: 0;
		}

		.other1 h3,
		.other2 h3,
		.other3 h3 {
			color: #0e3c0b;
		}

		/*
		.other1 h3 { color: #f414ff; }
		.other2 h3 { color: #0a5ea3; }
		.other3 h3 { color: #6e0aa3; }
		*/

		svg {
			display: block;
			width: 4rem;
			height: 4rem;
			margin: 1rem auto 0;
		}
	}
}
